@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&family=Markazi+Text:wght@700&display=swap');

body {
    font-family: 'Karla', sans-serif;
    padding: 0px;
    margin: 0px;
}